[project]
	description = test how repo work (using IOTG repo manifest.xml)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Choong Yin Thong (YinThong)
[access "refs/for/refs/*"]
	read = group user/Choong Yin Thong (YinThong)
	push = group user/Choong Yin Thong (YinThong)
	label-Code-Review = -2..+2 group user/Choong Yin Thong (YinThong)
	label-Verified = -1..+1 group user/Choong Yin Thong (YinThong)
	rebase = group user/Choong Yin Thong (YinThong)
	removeReviewer = group user/Choong Yin Thong (YinThong)
	submit = group user/Choong Yin Thong (YinThong)
[access "refs/heads/*"]
	read = group user/Choong Yin Thong (YinThong)
	create = group user/Choong Yin Thong (YinThong)
	push = +force group user/Choong Yin Thong (YinThong)
	pushMerge = group user/Choong Yin Thong (YinThong)
[access "refs/tags/*"]
	push = group user/Choong Yin Thong (YinThong)
	push = +force group user/Choong Yin Thong (YinThong)
